    @keyframes rowAnimation {
        0%   { background-color: #fff; }
        /* #ceddfb */
        50%  { background-color: #f3f7ff; }
        100% { background-color: #fff; }
    }

.resource-instance-table-wrapper {
    min-height: 101px;
    .bk-table {
        width: 100%;
        margin-top: 8px;
        border-right: none;
        border-bottom: none;
        font-size: 12px;
        .bk-table-header-wrapper {
            th:first-child .cell {
                padding-left: 20px;
            }
        }
        .mock-disabled-select {
            height: 30px;
            padding: 0 36px 0 10px;
            background-color: #fafbfd;
            cursor: not-allowed;
            border: 1px solid #c4c6cc;
            border-radius: 2px;
            line-height: 30px;
            color: #63656e;
            font-size: 12px;
        }
        .bk-table-body {
            tr {
                &:hover {
                    background-color: transparent;
                    & > td {
                        background-color: transparent;
                    }
                }
                &.has-perm-row-cls:hover {
                    background-color: rgba(45, 203, 86, .06);
                }
                &.has-perm-row-cls {
                    background-color: rgba(45, 203, 86, .06);
                }
                &.has-perm-row-animation-cls {
                    animation: rowAnimation 2s ease 0s 1 normal;
                    -webkit-animation: rowAnimation 2s ease 0s 1 normal;
                }
            }
            td:first-child .cell,
            th:first-child .cell {
                padding-left: 15px;
                /* padding-left: 10px; */
            }
            .iam-deadline-select.is-default-trigger.is-unselected:before {
                color: #63656e !important;
            }
            .iam-deadline-select.is-disabled.is-default-trigger.is-unselected:before {
                color: #c4c6cc !important;
            }
            .iam-new-action {
                display: inline-block;
                position: relative;
                top: 3px;
                width: 24px;
                vertical-align: top;
            }
            /* .custom-expired-at {
                .icon-angle-down {
                    font-size: 14px;
                }
            } */
            .iam-perm-table-cell-cls {
                .cell {
                    height: 100%;
                    .condition-table-cell{
                        height: 100%;
                        flex-flow: column;
                        display: flex;
                        justify-content: space-evenly;
                        padding-top: 20px;
                    }
                    .action-name-cell{
                        margin-top: 38px;
                    }
                    .action-name-empty{
                        height: 50px;
                        margin-top: 0px;
                        padding-top: 20px;
                    }
                    .recommend-action-name-empty {
                        margin-top: 0;
                        height: auto;
                        padding-top: 0;
                    }
                    .empty-text {
                        padding-top: 0px;
                    }
                }
            }
        }
        .relation-content-wrapper,
        .conditions-wrapper {
            height: 100%;
            color: #63656e;
            .resource-type-name {
                display: block;
                margin-bottom: 9px;
                margin-top: 9px;
            }
        }

        .relation-content-wrapper{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .group-line {
                height: 1px;
                background: #dfe0e5;
                width: calc(100% + 70px);
                position: absolute;
                top: 90%;
                left: -15px;
            }
            .group-line-more{
                top: 95%;
            }
        }

        .wrapper-empty{
            padding-top: 0px;
        }

        .renewal-action {
            display: block;
            width: 100px;
        }

        .renewal-action-warp {
            display: flex;
            justify-content: center;
        }

        .cancel-renewal-action {
            display: block;
            /* width: 120px; */
            margin: 10px 0 0 78px;
        }

        .relation-content-item {
            margin-top: 17px;
            &:first-child {
                margin-top: 0;
            }
            &.reset-margin-top {
                margin-top: 10px;
            }
            .content-name {
                margin-bottom: 9px;
                margin-top: 9px;
            }
            .is-limit-error {
                position: relative;
                top: 5px;
                font-size: 12px;
                color: #ff5656;
            }
        }

        .action-name {
            /* margin-left: 6px; */
            display: inline-block;
            vertical-align: bottom;
            word-wrap: break-word;
            word-break: break-all;
        }

        .conditions-item {
            margin-top: 7px;
            &:first-child {
                margin-top: 0;
            }
        }
        .cell {
            overflow:visible
        }

        .group-container{
            position: relative;
            padding-bottom: 17px;
            .add-icon,
            .reduce-icon {
                font-size: 16px;
                color: #979ba5;
                position: absolute;
                top: 45%;
                right: -23px;
                cursor: pointer;
                &.disabled {
                    color: #dcdee5;
                    cursor: not-allowed;
                }
            }

            .reduce-icon {
                right: -47px;
            }
        }

        .environ-group-one{
            position: relative;
            padding-top: 5px;
        }

        .environ-group-more{
            position: relative;
            display: flex;
            flex: 1;
            flex-flow: column;
            justify-content: center;
            padding-top: 5px;
            .condition-line{
                height: 1px;
                background: #dfe0e5;
                width: calc(100% + 30px);
                position: absolute;
                top: calc(87% + 1px);
                left: -15px;
            }
            .condition-line-more{
                top: calc(93% + 2px);
            }
        }
    }

}
.relate-instance-sideslider {
    .sideslider-content {
        height: calc(100vh - 114px);
    }
    .bk-sideslider-footer {
        background-color: #f5f6fa!important;
        border-color: #dcdee5!important;
    }
}
.iam-deadline-select-dropdown-content {
    .bk-options {
        padding-bottom: 0;
    }
    .bk-select-extension {
        position: relative;
        top: -6px;
        border-top: none;
        background-color: #fff;
        padding: 2px 16px;
        &:hover {
            background-color: #eaf3ff;
            color: #3a84ff;
        }
        .control-append-group {
            position: relative;
        }
        .bk-form-input {
            height: 26px;
            vertical-align: top;
        }
        .bk-form-control {
            .group-box {
                height: 26px;
                background-color: #f2f4f8;
                vertical-align: top;
                .group-text {
                    padding: 0 5px;
                    line-height: 26px;
                    vertical-align: top;
                }
            }
        }
    }
}

.help-icon {
    position: absolute;
    right: -45px;
    top: 8px;
    font-size: 16px;
}

.tab-button{
    margin-bottom: 10px;
}
