.iam-transfer-custom-wrapper {
    min-height: 328px;
    margin-bottom: 30px;
    .iam-perm-ext-cls {
        margin-top: 10px;
    }
    .iam-perm-ext-reset-cls {
        margin-bottom: 20px;
    }
    .empty-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
            width: 120px;
        }
        .empty-tips {
            position: relative;
            top: -25px;
            font-size: 12px;
            color: #c4c6cc;
            text-align: center;
        }
    }

    .iam-perm-edit-table {
        min-height: 101px;
        .bk-table-enable-row-hover .bk-table-body tr:hover > td {
            background-color: #fff;
        }
        .bk-table {
            border-right: none;
            border-bottom: none;
            .bk-table-header-wrapper {
                .cell {
                    padding-left: 20px !important;
                }
            }
            .bk-table-body-wrapper {
                .cell {
                    padding: 20px !important;
                    .view-icon {
                        display: none;
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translate(0, -50%);
                        font-size: 18px;
                        cursor: pointer;
                    }
                    &:hover {
                        .view-icon {
                            display: inline-block;
                            color: #3a84ff;
                        }
                    }
                }
            }
            tr:hover {
                background-color: #fff;
            }
        }

        .iam-my-custom-perm-silder-header {
            display: flex;
            justify-content: space-between;
            .action-wrapper {
                margin-right: 30px;
                font-weight: normal;
            }
        }
    }
}
