#### 前置说明

`resources.path`/`resources.paths[i]`的说明

示例 1: 拓扑层级授权到资源实例, *业务 1-集群 2-主机 1*

```json
{
  "system": "bk_cmdb",
  "type": "host",
  "path": [
    {
      "type": "biz",
      "id": "1",
      "name": "biz1"
    },
    {
      "type": "set",
      "id": "2",
      "name": "set2"
    },
    {
      "type": "host",
      "id": "1",
      "name": "host1"
    }
  ]
}
```

示例 2: 拓扑层级前缀, *业务 1-任意集群*, 此时只有业务 1 的集群下的主机会有权限

`注意`:

- 业务 1 下的主机与业务 1 下任意集群的主机的定义是不一样的
  1. `业务1下的主机`包含业务 1 下可能的`所有拓扑`下的所有主机
  2. `业务1下集群的所有主机`, 只包含特定拓扑 `业务-集群` 下的所有主机
- 为避免权限放大, 在拓扑层级授权时需要把选择到的拓扑节点的下一级的任意带上, 比如选择的是 `业务1`, 授权时传 `业务1-任意集群`

```json
{
  "system": "bk_cmdb",
  "type": "host",
  "path": [
    {
      "type": "biz",
      "id": "1",
      "name": "biz1"
    },
    {
      "type": "set",
      "id": "*",
      "name": ""
    }
  ]
}
```
