### 更新常用操作

整个列表完全覆盖更新

{% include '__api_v1_model_config_common_actions.md.j2' %}

#### Request

```json
[
    {
        "name": "测试",
        "name_en": "test",
        "actions": [
            {
                "id": "biz_delete"
            }
        ]
    }
]
```

#### Response

```json
{
    "code": 0,
    "message": "",
    "data": {}
}
```
