### 清理用户指定时间前的用户组权限（不包含自定义权限）

#### Parameters

| 字段   | 类型     |是否必须  | 描述     |
|:-----|:-------|:---|:-------|
| id   | sting  |是| 用户 id  |
| clean_time | string |是| 时间 格式：YYYY-MM-DD HH:mm:ss |



#### Request

```json
{
  "id": "bk-iam-test",
  "clean_time": "2025-08-15 16:02:00"
}
```


#### Response


```json
{
  "data": {},
  "result": true,
  "code": 0,
  "message": "OK"
}
```
