### 添加分级管理员成员

#### Parameters

| 字段      |  类型      | 必选   | 位置 |描述      |
|-----------|------------|--------|------------|------------|
| id | int | 是 | path | 分级管理员ID |
| members |  array[string]  | 是   | body | 用户名列表 |

#### Request

```json
{
  "members": [
    "admin",
    "test1",
    "test2"
  ]
}
```

#### Response

```json
{
  "code": 0,
  "message": "ok",
  "data": {}
}
```
