### 删除分级管理员成员


#### Parameters

| 字段      |  类型      | 必选   | 位置 |描述      |
|-----------|------------|--------|------------|------------|
| id | int | 是 | path | 分级管理员ID |
| members |  string  | 是   | query |要删除的用户名，多个用户则使用英文逗号分隔 |

#### Response

```json
{
  "code": 0,
  "message": "ok",
  "data": {}
}
```
