### 创建用户组申请单据

#### Parameters

| 字段 |  类型 |是否必须  | 位置 |描述  |
|--------|--------|--------|--------|--------|
| group_ids |  array[int]  | 是| body | 用户组ID列表 |
| expired_at | int | 是 | body | 过期时间戳(单位秒)，即用户在expired_at后将不具有申请的用户组的相关权限，其中值为4102444800表示永久 |
| applicant | string | 是 | body | 申请人，即username |
| reason | string | 是 | body | 申请理由 |

#### Request

```json
{
  "group_ids": [
    1,
    2,
    3
  ],
  "expired_at": 1653481167,
  "reason": "开发需要",
  "applicant": "blueking"
}
```

#### Response

| 字段      |  类型      |  描述      |
|-----------|------------|--------|
| ids | array[int]  | 申请单据ID列表，由于不同用户组审批流程不一样，所以会拆分出不同申请单据 |


```json
{
  "code": 0,
  "message": "ok",
  "data": {
    "ids": [1, 2, 3]
  }
}
```
