### 查询一个用户加入的组列表

一个用户组, 可以包含: 用户 和 部门, 而用户是属于某些部门的, 所以查询一个用户加入的组列表分为两类

1. 直接加入
2. 间接加入, 其所属部门加入了某个组

-----

#### Parameters

| 字段 | 类型 | 是否必须 | 位置 | 描述 |
| :--- | :--- | :--- |:---|:--- |
| user_id | string | 是 | path | 用户 ID |
| inherit | bool | 否 | query | 是否查询继承的组, 如果false, 只返回直接加入的组, 如果true, 返回直接加入+间接继承的组 |

示例: `inherit=true`

#### Response

```json
{
    "code": 0,
    "message": "ok",
    "data": [
        {
            "type": "group",
            "id": "143",
            "name": "测试用户组A"
        },
        {
            "type": "group",
            "id": "176",
            "name": "测试用户组B"
        }
    ]
}
```
