## 系统配置更新

{% include '_api_v1_model_system_config.md.j2' %}

### action_groups 操作组

{% include './_api_v1_model_system_update_configs_action_groups.md.j2' %}

### common_actions 常用操作

{% include './_api_v1_model_system_update_configs_common_actions.md.j2' %}

### feature_shield_rules 功能开关

{% include './_api_v1_model_system_update_configs_feature_shield_rules.md.j2' %}

### resource_creator_actions 新建关联

{% include './_api_v1_model_system_update_configs_resource_creator_actions.md.j2' %}

### custom_frontend_setings 定制前端配置

{% include './_api_v1_model_system_update_configs_custom_frontend_settings.md.j2' %}
