### 查询系统 clients

#### Parameters

| 字段 | 类型 | 是否必须 | 位置 | 描述 |
| :--- | :---| :--- |:--- |:--- |
| system_id | string | 是 | path | 系统 ID |

#### Response

| 字段 |  类型 | 描述  |
|:---|:---|:---|
| clients | string | 有权限调用的客户端，即有权限调用的 app_code 列表，多个使用英文逗号分隔，注册系统时会校验 Header 头里的 app_code 必须在列表里 |

```json
{
    "code": 0,
    "data": {
        "clients": "app_code1,app_code2"
    },
    "message": "ok"
}
```
