### 删除用户组成员

#### Parameters

| 字段 | 类型 | 位置 | 必须 | 描述 |
|---|---|---|---|---|
| system_id | string | path | 是 | 接入系统唯一标识 |
| group_id | int | path | 是 | 用户组ID |
| type | string | query | 是 | 成员类型，user 表示用户，department 表示部门 |
| ids | string | query | 是  | 成员 ID 列表，多个以英文逗号分隔, 对于 type=user，则 ID 为用户名，对于 type=department，则为部门 ID |

#### Response

> Status: 200 OK

```json
{
  "code": 0,
  "message": "ok",
  "data": {}
}
```

{% include '_api_v2_status_code.md.j2' %}
