### 查询用户组自定义权限

#### Parameters

| 字段 | 类型 | 位置 | 必须 | 描述 |
|---|---|---|---|---|
| system_id | string | path | 是 | 接入系统唯一标识 |

#### Request

```
GET /api/v2/open/management/systems/demo/groups/1/policies/
```

#### Response

```json
{
  "code": 0,
  "result": true,
  "message": "string",
  "data": [
    {
      "type": "string",
      "id": "string",
      "tag": "string",
      "policy_id": 0,
      "name": "string",
      "description": "string",
      "expired_at": 4102444800,
      "expired_display": "string",
      "resource_groups": [
        {
          "id": "string",
          "related_resource_types": [
            {
              "system_id": "string",
              "type": "string",
              "condition": [
                {
                  "id": "string",
                  "instances": [
                    {
                      "type": "string",
                      "name": "string",
                      "path": [
                        [
                          {
                            "system_id": "string",
                            "type": "string",
                            "type_name": "string",
                            "id": "string",
                            "name": "string"
                          }
                        ]
                      ]
                    }
                  ],
                  "attributes": [
                    {
                      "id": "string",
                      "name": "string",
                      "values": [
                        {
                          "id": "string",
                          "name": "string"
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ],
          "environments": []
        }
      ]
    }
  ]
}
```

{% include '_api_v2_status_code.md.j2' %}
