<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="<%= htmlWebpackPlugin.options.staticUrl %>/images/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.staticUrl %>/images/favicon.ico" type="image/x-icon" />
        <link href="http://radosgw.open.oa.com/bkicon-default-9/bk-iam-0.0.2/fonts/style.css" type="style" />
        <meta charset="utf-8">
        <title>权限中心｜蓝鲸智云</title>
    </head>
    <body>
        <div id="app"></div>
        <script>
            (function () {
                console.log('------------ 进入本地开发环境 --------------', window.location.hostname)
                
                const hostname = window.location.hostname
                let LOGIN_SERVICE_URL = ''
                let AJAX_URL_PREFIX = ''
                let BK_PAAS_HOST = ''
                let CSRF_COOKIE_NAME = ''
                if(hostname === 'iam-stage.woa.com') {
                    // stag环境
                    LOGIN_SERVICE_URL = 'http://login.o.oa.com/'
                    AJAX_URL_PREFIX = 'http://iam-stage.woa.com/api/v1'
                    BK_PAAS_HOST = 'http://iam-stage.woa.com'
                    CSRF_COOKIE_NAME = 'bkiam_csrftoken_cb6fc3811b132e78' 
                } else if(hostname === 'iam-dev.o.woa.com') {
                    // dev环境
                    LOGIN_SERVICE_URL = 'http://paasee-test.woa.com/login'
                    AJAX_URL_PREFIX = 'http://iam-dev.o.woa.com/api/v1'
                    BK_PAAS_HOST = 'http://paasee-test.woa.com'
                    CSRF_COOKIE_NAME = 'bkiam_csrftoken_e42f8f9ecfeca7b7'
                } else if(hostname === 'paas6.bktencent.com') {
                    // paas6环境
                    LOGIN_SERVICE_URL = 'http://paas6.bktencent.com/login'
                    AJAX_URL_PREFIX = 'http://paas6.bktencent.com/o/bk_iam/api/v1'
                    BK_PAAS_HOST = 'http://paas6.bktencent.com'
                    CSRF_COOKIE_NAME = 'bkiam_csrftoken_3f44fa9073e5215f' 
                } else if (hostname === 'iam.woa.com') {
                    // prod环境
                    LOGIN_SERVICE_URL = 'http://login.o.oa.com/'
                    AJAX_URL_PREFIX = 'http://iam.woa.com/api/v1'
                    BK_PAAS_HOST = 'http://iam.woa.com'
                    CSRF_COOKIE_NAME = 'bkiam_csrftoken_a534fec4f85d8079'
                } else if (hostname === 'paas.ee158.bktencent.com') {
                    // prod环境
                    LOGIN_SERVICE_URL = 'http://paas.ee158.bktencent.com/login'
                    AJAX_URL_PREFIX = 'http://paas.ee158.bktencent.com/o/bk_iam/api/v1'
                    BK_PAAS_HOST = 'http://paas.ee158.bktencent.com'
                    CSRF_COOKIE_NAME = 'bkiam_csrftoken_a29b84a55b4b18de'
                } else if (hostname === 'paasee-test.woa.com') {
                    // prod环境
                    LOGIN_SERVICE_URL = 'http://paas.ee158.bktencent.com/login'
                    AJAX_URL_PREFIX = 'http://paasee-test.woa.com/o/bk_iam/api/v1'
                    BK_PAAS_HOST = 'http://paasee-test.woa.com'
                    CSRF_COOKIE_NAME = 'bkiam_csrftoken_1c31d42e1af2e22c'
                } else {
                    console.log('...')
                    LOGIN_SERVICE_URL = 'http://paasee-test.woa.com/login'
                    AJAX_URL_PREFIX = 'http://iam-dev.o.woa.com/api/v1'
                    BK_PAAS_HOST = 'http://paasee-test.woa.com'
                    CSRF_COOKIE_NAME = 'bkiam_csrftoken_e42f8f9ecfeca7b7'
                    // CSRF_COOKIE_NAME = 'bkiam_csrftoken_1c31d42e1af2e22c'
                }

                const SITE_URL = '/'
                // assetsPublicPath
                const STATIC_URL = ''
                const BK_USER_API = BK_PAAS_HOST + '/api/c/compapi/v2/usermanage/fs_list_users/'
                const PRODUCT_DOC_URL = 'https://bk.tencent.com/docs/markdown/权限中心/产品白皮书/产品介绍/WhatisIAM.md'
                const CE_URL = 'https://bk.tencent.com/s-mart/community'
                const PRODUCT_DOC_URL_PREFIX = 'https://bk.tencent.com/docs/'
                const ENABLE_MODEL_BUILD = 'True' || ''
                const ENABLE_PERMISSION_HANDOVER = 'True' || ''
                // document.domain = 'woa.com'
                // document.domain = 'bktencent.com'
                // document.domain = 'paas6.bktencent.com'
                // document.domain = 'paas.ee158.bktencent.com'
                const CUR_LANGUAGE = handleLanguage()
                window.LOGIN_SERVICE_URL = LOGIN_SERVICE_URL
                window.AJAX_URL_PREFIX = AJAX_URL_PREFIX
                window.PRODUCT_DOC_URL_PREFIX = PRODUCT_DOC_URL_PREFIX
                window.SITE_URL = SITE_URL
                window.STATIC_URL = STATIC_URL
                window.BK_PAAS_HOST = BK_PAAS_HOST
                window.BK_USER_API = BK_USER_API
                window.CUR_LANGUAGE = CUR_LANGUAGE
                window.CSRF_COOKIE_NAME = CSRF_COOKIE_NAME
                window.PRODUCT_DOC_URL = PRODUCT_DOC_URL
                window.CE_URL = CE_URL
                window.ENABLE_MODEL_BUILD = ENABLE_MODEL_BUILD
                window.ENABLE_PERMISSION_HANDOVER = ENABLE_PERMISSION_HANDOVER
            })()

            function handleLanguage () {
                const cookieList = document.cookie.split(';')
                const CUR_LANGUAGE_DATA = cookieList.find(item => item.includes('blueking_language'))
                let CUR_LANGUAGE = 'zh-cn'
                if (CUR_LANGUAGE_DATA) {
                    CUR_LANGUAGE = CUR_LANGUAGE_DATA.split('=')[1] || 'zh-cn'
                }
                // 英文 兼容处理
                if (['en', 'en-US', 'en-us'].includes(CUR_LANGUAGE)) {
                    CUR_LANGUAGE = 'en'
                }
                // 中文 兼容处理
                if (['zh-cn', 'zh-CN', 'None', 'none', ''].includes(CUR_LANGUAGE)) {
                    CUR_LANGUAGE = 'zh-cn'
                }
                if (CUR_LANGUAGE === 'en') {
                    document.title = 'BKIAM|Blueking'
                } else {
                    document.title = '权限中心 | 蓝鲸智云'
                }

                return CUR_LANGUAGE
            }

            window.onload = function () {
                let ta = document.createElement('script')
                ta.src = '//tajs.qq.com/stats?sId=64878578'
                ta.defer = 'defer'
                let s = document.getElementsByTagName('script')[0]
                s.parentNode.insertBefore(ta, s)
            }
        </script>
        <script src="<%= htmlWebpackPlugin.options.staticUrl %>/lib.bundle.js"></script>
    </body>
</html>
