.iam-create-user-group-wrapper,
.iam-add-group-perm-wrapper {
  padding-bottom: 50px;
  .add-perm-action {
    margin: 16px 0 20px 0;
  }
  .select-wrap-checkbox {
    display: flex;
    align-items: center;
    .checkbox-sync-perm {
      display: inline-block;
      line-height: 20px;
      border-bottom: 1px dashed #979ba5;
      &.no-border {
        border: none;
      }
    }
    &:not(&:last-child) {
      margin-bottom: 10px;
    }
  }
  .user-group-select-wrapper {
    .action {
      position: relative;
      margin-top: -5px;
      .action-wrapper {
        font-size: 14px;
        color: #3a84ff;
        cursor: pointer;
        &:hover {
          color: #699df4;
        }
        i {
          position: relative;
          top: -1px;
          left: 2px;
        }
      }
      .info-icon {
        margin: 2px 0 0 2px;
        color: #c4c6cc;
        &:hover {
          color: #3a84ff;
        }
      }
      .info-wrapper {
        display: flex;
        align-items: center;
        min-width: 108px;
        position: relative;
        .tips,
        .text {
          line-height: 20px;
          font-size: 12px;
          &:not(&:last-child) {
            margin-left: 4px;
            margin-right: 16px;
          }
        }
      }
    }
  }
}
