.iam-create-user-group-wrapper {
  padding-bottom: 50px;
  .add-perm-action {
    margin: 16px 0 20px 0;
  }
  .select-wrap-checkbox {
    display: flex;
    align-items: center;
    .checkbox-sync-perm {
      display: inline-block;
      line-height: 20px;
      border-bottom: 1px dashed #979ba5;
    }
  }
  .user-group-select-wrapper {
    .action {
      position: relative;
      display: flex;
      justify-content: flex-start;
      .action-wrapper {
        font-size: 14px;
        color: #3a84ff;
        cursor: pointer;
        &:hover {
          color: #699df4;
        }
        i {
          position: relative;
          top: -1px;
          left: 2px;
        }
      }
      .info-icon {
        margin: 2px 0 0 2px;
        color: #c4c6cc;
        &:hover {
          color: #3a84ff;
        }
      }
    }
    .info-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;
      line-height: 24px;
      .tips,
      .text {
        line-height: 20px;
        font-size: 12px;
        &:not(&:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
}
