.iam-custom-popover-confirm {
  .popover-title {
    font-size: 16px;
    padding-bottom: 16px;
    color: #313238;
  }
  .popover-content {
    color: #63656e;
    .popover-content-item {
      display: flex;
      margin-bottom: 8px;
      &-value {
        color: #313238;
      }
    }
    &-tip {
      padding-bottom: 16px;
      color: #63656e;
    }
  }
}