.iam-add-action-sideslider {
  z-index: 2502;
  /deep/ .bk-sideslider-content {
    overflow-y: hidden;
    background-color: #f5f6fa;
  }
  .content-wrapper {
    display: flex;
    justify-content: flex-start;
    position: relative;
    min-height: calc(100vh - 114px);
    .left-wrapper {
      position: relative;
      flex: 0 0 240px;
      padding: 12px;
      border-right: 1px solid #dcdee5;
      background-color: #ffffff;
      .search-wrapper {
        width: 100%;
        display: flex;
        &-input {
          width: calc(100% - 22px);
        }
        .icon-iamcenter-wrapper {
          height: 32px;
          margin-left: 6px;
          border-radius: 2px;
          cursor: pointer;
          &:hover {
            border-color: #979ba5;
            color: #63656e;
          }
          i {
            line-height: 32px;
          }
        }
      }
      .system-wrapper {
        margin-top: 8px;
        max-height: calc(100vh - 150px);
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 6px;
          background-color: lighten(transparent, 80%);
        }
        &::-webkit-scrollbar-thumb {
          height: 5px;
          border-radius: 2px;
          background-color: #e6e9ea;
        }
        .system-item {
          padding: 0 10px;
          line-height: 32px;
          font-size: 14px;
          cursor: pointer;
          &-name {
            max-width: 190px;
            word-break: break-all;
            &.has-badge {
              max-width: 160px;
            }
          }
          &:hover {
            background-color: #f5f6fa;
          }
          &.active {
            background-color: #f5f6fa;
            color: #3a84ff;
          }
          .bk-form-checkbox {
            top: -2px;
            width: 100%;
            line-height: 32px;
          }
          .bk-form-checkbox .bk-checkbox-text {
            max-width: 190px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        .skip-link {
          text-align: center;
          font-size: 14px;
          padding: 8px 5px;
          margin-top: 10px;
          margin-right: 20px;
          background-color: #f5f6fa;
          border-radius: 3px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          cursor: pointer;
          &:hover {
            color: #3a84ff;
            background-color: #f0f8ff;
          }
        }
        .skip-link-fixed {
          position: fixed;
          bottom: 80px;
          width: 218px;
        }
      }
      .system-item-fixed {
        margin-bottom: 40px;
      }
      .empty-wrapper {
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .right-wrapper {
      position: relative;
      flex: 0 0 calc(100% - 240px);
      padding: 12px 20px;
      background-color: #f5f6fa;
      max-height: calc(100vh - 114px);
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 6px;
        background-color: lighten(transparent, 80%);
      }
      &::-webkit-scrollbar-thumb {
        height: 5px;
        border-radius: 2px;
        background-color: #C1C1C1;
      }
      .custom-tmpl-wrapper {
        &:last-child {
          margin-bottom: 0;
        }
        .custom-action-checkbox-cls {
          .bk-checkbox-text {
            cursor: pointer !important;
            .text {
              font-size: 12px;
            }
          }
        }
        .bk-label {
          line-height: 20px;
          font-size: 12px;
          .name {
            font-weight: 600;
          }
          &:after {
            margin: 0 -7px 0 2px;
          }
        }
        &.custom-tmpl-wrapper-none {
          display: none;
        }
      }
      .choose-perm-tmpl {
        line-height: 30px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &.set-style {
          padding-bottom: 2px;
          border-bottom: 1px solid #fff;
        }
        .bk-form-checkbox {
          width: 130px;
          .bk-checkbox-text {
            .text {
              display: inline-block;
              max-width: 105px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              vertical-align: middle;
              outline: none;
            }
          }
        }
      }
      .choose-perm-sub-tmpl {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .sub-group-wrapper {
        .sub-item {
          display: flex;
          justify-content: flex-start;
          line-height: 30px;
          &-name {
            flex: 0 0 130px;
            font-size: 12px;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
            outline: none;
          }
          &.set-mt {
            margin-top: 5px;
          }
          &.sub-item-none {
            display: none;
          }
        }
        .bk-form-checkbox {
          width: 130px;
          .bk-checkbox-text {
            .text {
              display: inline-block;
              max-width: 105px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              vertical-align: middle;
              outline: none;
            }
          }
        }
        .custom-action-checkbox-sub-cls {
          .bk-checkbox-text {
            cursor: pointer !important;
            .text {
              font-size: 12px;
            }
          }
        }
      }
      .select-all {
        color: #3a84ff;
        cursor: pointer;
        &:hover {
          color: #699df4;
        }
        &.disabled {
          color: #c4c6cc;
          cursor: not-allowed;
        }
      }
      .empty-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
          width: 120px;
        }
      }
    }
  }
}