.iam-user-group-member {
  .user-group-member-table {
    margin-top: 16px;
    border: none;
    .user,
    .depart,
    .member-template {
      padding: 4px 6px;
      background: #f0f1f5;
      border-radius: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: max-content;
      i {
        font-size: 14px;
        color: #c4c6cc;
      }
      .name {
        vertical-align: bottom;
      }
    }
    .member-template {
      background-color: #f0f5ff;
      color: #3a84ff;
      i {
        color: #699df4;
      }
      &:hover {
        color: #699df4;
        cursor: pointer;
      }
    }
    /deep/ .bk-table-fixed,
    /deep/ .bk-table-fixed-right {
      border-bottom: 0;
    }
  }
}
