.iam-grade-split-wrapper, 
.template-resource-instance-table-wrapper {
    min-height: 0;
    .iam-resource-expand {
        height: 44px;
        line-height: 44px;
        background: #DCDEE5;
        border: 1px solid #DCDEE5;
        border-radius: 2px 2px 0 0;
        .iam-resource-header {
            &-left {
                font-size: 12px;
                font-weight: 700;
                color: #63656E;
                padding: 0 20px;
                cursor: pointer;
                .number {
                    color: #3A84FF;
                }
            }
        }
    }
}