.resource-perm-delete-confirm {
    .popover-title {
      font-size: 16px;
      padding-bottom: 16px;
    }
    .popover-content {
      color: #63656e;
      .popover-content-item {
        display: flex;
        &-value {
          color: #313238;
          margin-left: 4px;
        }
      }
      &-tip {
        padding: 4px 0 16px 0;
        line-height: 20px;
      }
    }
    .popconfirm-operate {
      font-size: 0;
      button {
        min-width: 64px;
        margin-left: 0;
        margin-right: 8px;
        font-size: 12px;
      }
    }
  }