.resource-perm-delete-confirm {
    .popover-title {
      font-size: 16px;
      padding-bottom: 16px;
    }
    .popover-content {
      color: #63656e;
      max-height: 300px;
      overflow-y: auto;
      &::-webkit-scrollbar     {
        width: 6px;
        height: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background: #dcdee5;
        border-radius: 3px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 3px;
      }
      &-item {
        display: flex;
        &-value {
          color: #313238;
          margin-left: 4px;
        }
      }
      &-tip {
        padding: 4px 0 16px 0;
        line-height: 20px;
      }
      &-related {
        word-break: break-all;
        .delete-tips-title {
          margin-bottom: 8px;
        }
        .delete-tips-content {
          padding-bottom: 16px;
          .related-perm-name {
            margin-top: 8px;
            .warn {
              color: #ffb848;
            }
          }
        }
      }
    }
    .popconfirm-operate {
      font-size: 0;
      button {
        min-width: 64px;
        margin-left: 0;
        margin-right: 8px;
        font-size: 12px;
      }
    }
  }