.my-perm-group-perm {
  height: 100%;
  &-header {
    margin-bottom: 16px;
  }
  .iam-perm-ext-cls {
    margin-top: 1px;
  }
  .user-org-perm-table {
    border: none;
    color: #63656E !important;
    .can-view-name {
      color: #3a84ff;
      cursor: pointer;
      &:hover {
        color: #699df4;
      }
    }
  }
}
.user-org-remove-confirm {
  .popover-title {
    font-size: 16px;
    padding-bottom: 16px;
    color: #313238;
  }
  .popover-content {
    color: #63656e;
    .popover-content-item {
      display: flex;
      margin-bottom: 8px;
      &-value {
        color: #313238;
        margin-left: 8px;
      }
    }
    &-tip {
      padding-bottom: 20px;
      color: #63656E;
    }
  }
}
