.iam-system-access-join-wrapper {
    .inner {
        display: flex;
    }
    .system-access-step {
        flex: 0 0 120px;
        margin-right: 24px;
        height: 300px;
        .current {
            .bk-step-content {
                width: 100px;
                background-color: #e1ecff;
                border-radius: 0 16px 16px 0;
                position: absolute;
                left: 10px;
                padding-left: 25px;
            }
        }
        .bk-step-indicator {
            z-index: 1;
            position: absolute;
        }
    }
    .base-info-wrapper {
        flex: 1;
    }
    .desc-form {
        position: relative;
        top: -6px;
    }
}
