@import '@/css/mixins/manage-members-detail-slidesider.css';
.my-perm-group-perm {
    height: 100%;
    &-header {
        margin-bottom: 16px;
    }
    .iam-perm-ext-cls {
        margin-top: 1px;
    }
    .bk-table {
        border-right: none;
        border-bottom: none;
        .user-group-name {
            color: #3a84ff;
            cursor: pointer;
            &:hover {
                color: #699df4;
            }
        }
    }
    .can-view {
        color: #3a84ff;
        cursor: pointer;
        &:hover {
            color: #699df4;
        }
    }
}