@import '@/css/mixins/manage-members-detail-slidesider.css';
.my-perm-group-perm {
    height: 100%;
    &-header {
        margin-bottom: 16px;
    }
    .iam-perm-ext-cls {
        margin-top: 1px;
    }
    .bk-table {
        border-right: none;
        border-bottom: none;
        .user-group-name {
            color: #3a84ff;
            cursor: pointer;
            &:hover {
                color: #699df4;
            }
        }
        tr {
            &:hover {
              .member-wrapper {
                .user,
                .depart,
                .template {
                    background: #ffffff;
                }
              }
            }
        }
    }
    .can-view {
        color: #3a84ff;
        cursor: pointer;
        &:hover {
            color: #699df4;
        }
    }

    .member-wrapper {
        display: flex;
        justify-content: flex-start;
  
        .user,
        .depart,
        .template {
            display: inline-block;
            min-width: 54px;
            padding: 4px 6px;
            margin-right: 2px;
            background: #f0f1f5;
            border-radius: 2px;
            i {
              font-size: 14px;
              color: #c4c6cc;
            }
        }
    }
}