@import '@/css/mixins/manage-members-detail-slidesider.css';
.my-perm-group-perm {
    height: 100%;
    .iam-perm-ext-cls {
        margin-top: 1px;
    }
    .bk-table {
        border-right: none;
        border-bottom: none;
        .user-group-name {
            color: #3a84ff;
            cursor: pointer;
            &:hover {
                color: #699df4;
            }
        }
    }
    .my-perm-group-perm-empty-wrapper {
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100px;
        }
    }
    .can-view {
        color: #3a84ff;
        cursor: pointer;
        &:hover {
            color: #699df4;
        }
    }
}