#### Parameters

Path Parameters

| Field | Type | Required | Location | Description |
| :--- | :--- | :--- |:--- |:--- |
| system_id | string | yes | path | system ID |

Parameters

| Field | Type | Required | Description |
|:---|:---|:---|:---|
| name |string | yes | common operation name |
| name_en | string | Yes | The English name of the common action, switch to the English version when internationalizing |
| actions | Array(Object) | yes | List of actions |
