#### Parameters

| Field | Type | Required | Description |
|:---|:---|:---|:---|
| id | string | Yes | Instance view id, unique under the system, only lowercase letters, lowercase letters, numbers, underscores (_) and ligatures (-) are allowed, maximum 32 characters. |Name
| name |string | Yes | The name of the instance view, unique in the system.
| name_en | string | Yes | The English name of the instance view, switch to the English version when internationalizing, unique in the system.
| is_dynamic | bool | no | If or not the view is dynamic, `default is false` |
| resource_type_chain | Array(Object) | Yes | The hierarchical link of the resource type |

The elements in resource_type_chain

| Field | Type | Required | Description |
|:---|:---|:---|:---|
| system_id | string | Yes | The source system ID of the resource type |
| id |string | Yes | The resource type ID |
