##### Status Code Description

| Status Code | English Name | Description |
| ----------- | --------------------- | ------------------------------ |
| 400 | Bad Request | Client request error |
| 401 | Unauthorized | Request requires user authentication |
| 403 | Forbidden | The server refused to execute the request |
| 404 | Not Found | The server could not find the resource based on the client's request |
| 405 | Method Not Allowed | The method in the client's request is prohibited |
| 409 | Conflict | A conflict occurred while the server was processing the request |
| 429 | Too Many Requests | The client is requesting too much.
| 500 | Internal Server Error | Internal server error |
