The following conditions must be met to successfully delete an instance view:
1. The instance view is not referenced by the Action's associated resource actions in the system, specifically, whether the instance view exists in the related_instance_selections of all Action's related_resource_types
