### Clean up user group permissions before the specified time (excluding custom permissions)

#### Parameters

| Field | Type | Required | Description                 |
|:-----|:-------|:---------|:----------------------------|
| id   | sting  | yes      | subject id                  |
| clean_time | string | yes        | time format：YYYY-MM-DD HH:mm:ss |



#### Request

```json
{
  "id": "bk-iam-test",
  "clean_time": "2025-08-15 16:02:00"
}
```


#### Response


```json
{
  "data": {},
  "result": true,
  "code": 0,
  "message": "OK"
}
```
