### Retrieve the list of privileged subjects

#### Parameters

{% include '_api_v1_engine_search.md.j2' %}

#### Request


```json
{
	"system": "bk_job",
	"subject_type": "all", // all while querying user and group
	"action": {
		"id": "execute"
	},
	"resources": [{ // The order of the resource types must be the same as the order of the operation registration, otherwise it will cause authentication failure!
		"system": "bk_job",
		"type": "job",
		"id": "ping",
		"attribute": { // There may be multiple attribute values for the resource, currently string/int/boolean, and path stringList are supported
			"os": "linux",
			"_bk_iam_path_": ["/biz,1/set,2/"],
			"is_ready": true,
			"area_id": 200
		}
	}, {
		"system": "bk_cmdb",
		"type": "host",
		"id": "192.168.1.1",
		"attribute": {} // The attribute of the external resource is the responsibility of iam to look up the attribute, the accessing party does not need to pass it in
	}],
	"limit": 1000 // the maximum number of returned subjects
}
```

#### Response

| field | type   | description |
|-------|--------|-------------|
| type  | string | member type |
| id    | string | user or user group id |
| name  | string | user or user group name |

```json
{
    "code": 0,
    "message": "ok",
    "data": [ // array of returned subjects
        {
            "type": "user",
            "id": "admin",
            "name": "admin"
        },
		      {
            "type": "group",
            "id": "1001",
            "name": "test-user-group"
        }
	]
}
```
