### Get the engine program version

#### Response

```json
{
  "buildTime": "2021-11-19_02:33:51",
  "commit": "6ef6b5d3bfd0c5ff9b903082b156724c7c6c5c65",
  "env": "",
  "goVersion": "go version go1.16.3 darwin/amd64",
  "version": "1.0.1"
}
```
