### Delete user group

#### Parameters

| Field | Type | Required | Location | Description |
| --------|--------|--------|--------|--------|--------|--------|
| group | int | yes | path | user group ID |

#### Response

```json
{
  "code": 0,
  "message": "ok",
  "data": {}
}
```
