### Query the list of hierarchical administrator members

#### Parameters

| Field | Type | Required | Location | Description |
|--------|--------|--------|--------|--------|--------|--------|
| id | int | yes | path | grade_manager_id |

#### Request


#### Response

| Field | Type | Description |
| -----------|-----------|-----------|
| data | array[string] | list of user names |


```json
{
  "code": 0,
  "message": "ok",
  "data": [
    "admin",
    "test"
  ]
}
```
