### User group remove Action permission

#### Parameters

| Field | Type | Location | Required | Description |
|--|--|--|--|--|--|--|
| group_id | int | path | yes | user_group_id |
| system | string | body | Yes | Access to system unique identifier |
| actions | array[object] | yes | body | actions |

actions

| Field | Type | Required | Location | Description |
|--|--|--|--|--|--|--|
| id | string | body | yes | action ID |


#### Request

```json
{
  "system": "bk_cmdb",
  "actions": [
    {
      "id": "edit_host"
    }
  ]
}
```

#### Response

```json
{
  "code": 0,
  "message": "ok",
  "data": {}
}
```
