### Deleting hierarchical administrator members


#### Parameters

| Field | Type | Required | Location | Description |
|-----------|------------|--------|------------|------------|
| id | int | yes | path | grade_manager_id |
| members | string | yes | query | Username to be deleted, multiple users separated by commas |

#### Response

```json
{
  "code": 0,
  "message": "ok",
  "data": {}
}
```
