### 2. policy auth by resources

Authentication scenario: See if a `user` has `edit` access to 100 `resources A`.
Restriction: resources_list can pass up to 100 resources

#### Parameters

| Field | Type | Required | Description |
|:---|:---|:---|:---|
| system |string | yes | system unique identifier |
| subject | string | yes | subject |
| action | object | yes | action |
| resources_list | Array(resources) | Yes | A list of resource instances, the order of the resource types must be the same as the order in which the actions are registered |

action

| Field | Type | Required | Description |
|:---|:---|:---|:---|
| id | string | yes | action ID |

subject

| Field | Type |Required | Description |
|:---|:---|:---|:---|
| type | string | yes | Authorize object type, currently only user | is supported
| id | string | yes | authorization object ID |

resources

| Field | Type | Required | Description |
|:---|:---|:---|:---|
| resources | Array(resource_node) | Yes | A resource |

resource_node

| Field | Type | Required | Description |
|:---|:---|:---|:---|
| system | string | yes | resource_system_id |
| type | string | yes | resource type ID |
| id | string | yes | resource instance ID |
| attribute | object | yes | resource attribute |

#### Request

```json
{
	"system": "bk_job",
	"subject": {
		"type": "user",
		"id": "admin"
	},
	"action": {
		"id": "execute"
	},
	"resources_list": [
		[{ // first resource
			"system": "bk_job",
			"type": "job",
			"id": "ping",
			"attribute": {
				"os": "linux",
				"_bk_iam_path_": ["/biz,1/set,2/"],
				"is_ready": true,
				"area_id": 200
			}
		}, {
			"system": "bk_cmdb",
			"type": "host",
			"id": "192.168.1.1",
			"attribute": {}
		}],
		[{ // second resource
			"system": "bk_job",
			"type": "job",
			"id": "ping2",
			"attribute": {
				"os": "linux",
				"_bk_iam_path_": ["/biz,1/set,2/"],
				"is_ready": true,
				"area_id": 200
			}
		}, {
			"system": "bk_cmdb",
			"type": "host2",
			"id": "192.168.2.2",
			"attribute": {}
		}]
	]
}
```

#### Response

Note: The result is the authentication result corresponding to each resource.

```json
{
    "code": 0,
    "message": "ok",
    "data": {
        "bk_job,job,ping/bk_cmdb,host,192.168.1.1": false,
        "bk_job,job,ping2/bk_cmdb,host2,192.168.2.2": false
    }
}
```
