### Pull permission policy

sdk access, need to implement

1. authentication: pull permission policy
2. get the list of resources with permissions

Both will use the same interface, pulling the policy list from the server

The returned result contains conditional expressions

#### Parameters

| Field | Type | Required | Description |
|:---|:---|:---|:---|
| system |string | yes | system unique identifier |
| subject | subject | yes | authentication entity |
| action | action | yes | operation |
| resources | Array(resource_node) | Yes | Resource instance, the order of the resource types must be the same as the order in which the actions are registered; may be an empty list |

action

| Field | Type | Required | Description |
|:---|:---|:---|:---|
| id | string | yes | action ID |

subject

| Field | Type |Required | Description |
|:---|:---|:---|:---|
| type | string | yes | Authorize object type, currently only user | is supported
| id | string | yes | authorization_id |

resource_node

| Field | Type | Required | Description |
|:---|:---|:---|:---|
| system | string | yes | resource_system_id |
| type | string | yes | resource type ID |
| id | string | yes | resource instance ID |
| attribute | object | yes | resource attribute |

#### Request

##### No cmdb dependency

```json
# 1.
{
    "system": "bk_job",
    "subject":
    {
        "type": "user",
        "id": "admin"
    },
    "action": {
        "id": "edit"
    },
    "resources": []
}
```

##### has cmdb dependencies

```json
{
    "system": "bk_job",
    "subject":
    {
        "type": "user",
        "id": "admin"
    },
    "action": {
        "id": "execute"
    },
    "resources": [
    {
        "system": "bk_cmdb",
        "type": "host",
        "id": "192.168.1.1"
    }]
}
```


#### Response

Note: Returns the policy expression.

```json
{
    "code": 0,
    "message": "ok",
    "data": { // conditional expression
        "field": "host.id",
        "op": "any",
        "value": []
    }
}
```
