## System configuration update

{% include '_api_v1_model_system_config.md.j2' %}

### action_groups action group

{% include '_api_v1_model_system_update_configs_action_groups.md.j2' %}

### common_actions Common actions

{% include '_api_v1_model_system_update_configs_common_actions.md.j2' %}

### feature_shield_rules function switches

{% include '_api_v1_model_system_update_configs_feature_shield_rules.md.j2' %}

### resource_creator_actions New association

{% include '_api_v1_model_system_update_configs_resource_creator_actions.md.j2' %}
