### Query system

#### Parameters

| Field | Type | Required | Location | Description |
| :--- | :---| :--- |:--- |:--- |
| system_id | string | yes | path | system_id |

#### Response

|Field |Type |Description |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |
|----------------|--------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| id             | string | system id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    |
| name           | string | system name                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  |
| name_en        | string | system name in English                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
| description    | string | system description                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |
| description_en | string | system description in English                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
| clients        | string | the app_code list that has permission to call the system, separated by comma. When registering the system, Header app_code must be in the list.                                                                                                                                                                                                                                                                                                                                                                            |
| provider_config | object | the configuration file for the permission center to callback to the system.                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
| provider_config.host | string | the host of the permission center that calls the query resource instance interface, in the format of scheme://netloc, used in conjunction with resource_type.provider_config.path.                                                                                                                                                                                                                                                                                                                                           |
| provider_config.auth | string | the authentication method used by the permission center to call the query resource instance interface, currently optional: `none`/`basic`.                                                                                                                                                                                                                                                                                                                                                                                 |
| provider_config.healthz | string | the permission center calls the healthz of the system to check if the system is healthy; used in conjunction with provider_config.host, `for example, system.provider_config.host=http://cmdb.consul, provider_config.healthz=/healthz/`, then `http://cmdb.consul/healthz/` will be called to check if the system is healthy. |

```json
{
  "code": 0,
  "data": {
    "clients": "app_code1,app_code2",
    "description": "Platform as A Service",
    "description_en": "Platform as A Service",
    "id": "id",
    "name": "",
    "name_en": "",
    "provider_config": {}
  },
  "message": "ok"
}
```
