### Query system clients

#### Parameters

| Field | Type | Required | Location | Description |
| :--- | :---| :--- |:--- |:--- |
| system_id | string | yes | path | system_id |

#### Response

| field   | type   | description                                                                                                                                                                                                                                                         |
|---------|--------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| clients | string | the app_code list that has permission to call the system, separated by comma. When registering the system, Header app_code must be in the list.                                                                                                                                                                                   |

```json
{
    "code": 0,
    "data": {
        "clients": "app_code1,app_code2"
    },
    "message": "ok"
}
```
