### Batch delete action

----------
{% include '_api_v1_model_instance_actions_delete.md.j2' %}
----------

#### Parameters

|field |type |required |position |description |
|:--|:--|:--|:--|:--|
|system_id |string |yes |path |system_id
|check_existence |boolean |no |query |default will check if id exists, if it doesn't, the delete will fail, set false to not check if id exists, go straight to delete ( `delete from table where id in []` ) |

#### parameters

| field | type   | required | description |
|-------|--------|----------|-------------|
| id    | string | yes      | operation id |

#### Request

```json
[
    {
        "id": "host_edit"
    }
]
```

#### Response

```json
{
    "code": 0,
    "message": "",
    "data": {}
}
```
