### Query system clients

#### Parameters

| Field | Type | Required | Location | Description |
| :--- | :---| :--- |:--- |:--- |
| system_id | string | yes | path | system_id |

#### Response

```json
{
    "code": 0,
    "data": {
        "clients": "app_code1,app_code2"
    },
    "message": "ok"
}
```
