### Query system

#### Parameters

| Field | Type | Required | Location | Description |
| :--- | :---| :--- |:--- |:--- |
| system_id | string | yes | path | system_id |

#### Request

#### Response

```json
{
  "code": 0,
  "data": {
    "clients": "app_code1,app_code2",
    "description": "Platform as A Service",
    "description_en": "Platform as A Service",
    "id": "id",
    "name": "",
    "name_en": "",
    "provider_config": {}
  },
  "message": "ok"
}
```
