### Verify if a user is a valid member of a user group

* Supports bulk user groups, with a limit on the number of batches
* Valid member means that the relationship between the user group and the member has not expired.

#### Parameters

| Field | Type | Location | Required | Description |
|--|--|--|--|--|--|--|
| system_id | string | path | Yes | Access to system unique identifier |
| user_id | string | path | Yes | user ID |
| group_ids | string | body | Yes | List of user group IDs, multiple separated by commas |
| inherit | bool | body | no | For users, whether to include their inherited departments, the default is false, i.e. the default is to query only the directly related ones, not the inherited ones |


#### Request

```json
GET /api/v2/open/management/systems/demo/users/test_user1/groups/belong/?groups=1,2,3,4&inherit=false
```

#### Response

```json
{
  "code": 0.
  "message": "ok".
  "data": {
    1: true.
    2: false.
    3: false.
    4: true
  }
}
```

{% include '_api_v2_status_code.md.j2' %}
