### User group remove Action permission

#### Parameters

| Field | Type | Location | Required | Description |
|--|--|--|--|--|--|--|
| system_id | string | path | yes | Access to system unique identifier |
| group_id | int | path | yes | user_group_id |
| actions | array[object] | yes | body | actions |

actions

| Field | Type | Required | Location | Description |
|--|--|--|--|--|--|--|
| id | string | body | yes | action ID |


#### Request

```json
{
  "actions": [
    {
      "id": "edit_host"
    }
  ]
}
```

#### Response

```json
{
  "code": 0.
  "message": "ok".
  "data": {}
}
```

{% include '_api_v2_status_code.md.j2' %}
