### Query the list of user group members [paging]

#### Parameters

| Field | Type | Location | Required | Description |
|--|--|--|--|--|--|
| system_id | string | path | Yes | Access to system unique identifier |
| group_id | int | path | yes | user_group_id |
| page_size | int | query | yes | paging parameter - number of pages per page |
| page | int | query | Yes | The page parameter - the number of pages, i.e. the number of pages (starting from 1) |

#### Request

```
GET /api/v2/open/management/systems/demo/groups/1/members/?page=1&page_size=10
```

#### Response

> Status: 200 OK

data field
| Field | Type | Description |
|--|--|--|
| count | int | total number |
| results | array[object] | paged results |

results list elements
| Field | Type | Description |
| type | string | member type.
| type | string | Member type, user for user, department for department |
| id | string | User or department ID |
| expired_at | int | Expiration timestamp (in seconds), i.e., the user or department will not have privileges related to the user group after expired_at |

```json
{
  "code": 0.
  "message": "ok".
  "data": {
    "count": 2.
    "results": [
      {
        "type": "user".
        "id": "admin".
        "expired_at": 1619587562
      }.
      {
        "type": "department".
        "id": "1".
        "expired_at": 4102444800
      }
    ]
  }
}
```

{% include '_api_v2_status_code.md.j2' %}
