### Delete grade manager

#### Parameters

| Field | Type | Location | Required | Description |
|-------|------|----------|----------|-------------|
| system_id | string | path | Yes | 接入系统唯一标识 |
| id | int | path | Yes | 分级管理员id |

#### Response

```json
{
  "code": 0,
  "message": "ok",
  "data": {}
}
```

{% include '_api_v2_status_code.md.j2' %}

Translation:

### Delete hierarchical administrator

#### Parameters

| Field | Type | Location | Required | Description |
|-------|------|----------|----------|-------------|
| system_id | string | path | Yes | The unique identifier of the access system |
| id | int | path | Yes | The ID of the hierarchical administrator |

#### Response

```json
{
  "code": 0,
  "message": "ok",
  "data": {}
}
```

{% include '_api_v2_status_code.md.j2' %}
