@import './reset.css';
@import './bk-patch.css';
@at-root {
    * {
        box-sizing: border-box;

        .bk-table .cell {
            /*! autoprefixer: off */
            /* 只会作用于当前block，非全局 */
            -webkit-box-orient: vertical;
        }

        .bk-table-empty-block {
            background-color: #ffffff;
        }

        .bk-table-pagination-wrapper {
            background-color: #ffffff;
        }

        .tippy-content {
            padding: 0 !important;
        }

        .bk-option-icon {
            top: 8px !important;
            font-size: 14px !important;
        }

        .bk-dialog-wrapper .bk-dialog-header {
            line-height: 1.3 !important;
        }

        .bk-message-close {
            .icon-close {
                font-size: 12px !important;
            }
        }

        .bk-select .bk-select-angle {
            top: 5px !important;
            right: 5px !important;
            font-size: 20px !important;
        }

        .bk-select.is-disabled {
            color: #c4c6cc;
        }

        .iam-system-log-dialog {
            .bk-dialog-tool,
            .bk-dialog-header {
                display: none !important;
            }
            .bk-dialog-body {
                padding: 0 !important;
            }
        }

        .bk-sideslider-closer {
            font-size: 14px !important;
            font-weight: 700;
        }

        .iam-perm-manager-menu {
            .navigation-sbmenu-title {
                .navigation-sbmenu-title-content {
                    color: red !important;
                }
            }
        }

        .iam-add-member-dialog {
            .bk-dialog-body {
                padding-top: 0 !important;
                padding-bottom: 0 !important;
            }
            .organization-checkbox {
                .bk-form-checkbox .bk-checkbox {
                    border-radius: 50%;
                }
            }
            .user-checkbox {
                .bk-form-checkbox .bk-checkbox {
                    border-radius: 50%;
                }
            }
        }

        .iam-auth-add-member-dialog {
            .bk-dialog-body {
                padding-top: 0 !important;
                padding-bottom: 0 !important;
            }
            .organization-checkbox {
                .bk-form-checkbox .bk-checkbox {
                    border-radius: 50%;
                }
            }
            .group-checkbox {
                .bk-form-checkbox .bk-checkbox {
                    border-radius: 50%;
                }
            }
            .user-checkbox {
                .bk-form-checkbox .bk-checkbox {
                    border-radius: 50%;
                }
            }
        }

        .iam-perm-apply-action-popover-content {
            span {
                font-size: 12px;
            }
            .name {
                font-weight: 600;
            }
            .has-obtained {
                color: #3fc06d;
            }
            .has-selected {
                color: #3a84ff;
            }
            .no-obtained {
                color: #ff9c01;
            }
            .description {
                margin-top: 5px;
                font-size: 12px;
            }
            .relate-action {
                margin-top: 5px;
                font-size: 12px;
            }
        }

        .bk-search-list-menu {
            max-height: 250px !important;
        }

        .bk-cascade-right {
            top: 8px !important;
            font-size: 14px !important;
        }

        .bk-sideslider-closer {
            .icon-angle-right {
                position: relative;
                top: 2px;
                font-size: 22px !important;
            }
        }

        .iam-tooltips-cls {
            .tippy-arrow {
                width: 0 !important;
                height: 0 !important;
            }
        }
    }

    .fl {
        float: left;
    }

    .fr {
        float: right;
    }

    #app {
        height: calc(100% - 61px);
        min-width: 1280px;
    }

    .iam-perm-apply-expired-input-cls {
        .control-icon {
            display: none !important;
        }
    }

    .iam-add-member-search-input-cls {
        position: relative;
        top: -16px;
        left: 20px;
        width: 277px !important;
        .bk-form-input {
            height: 29px !important;
            border: none !important;
        }
    }

    .iam-user-member-search-input-cls {
        position: relative;
        top: -16px;
        left: 20px;
        width: calc(100% - 10px) !important;
        .bk-form-input {
            height: 29px !important;
            border: none !important;
        }
    }

    .iam-perm-table-cell-cls {
        .cell {
            -webkit-line-clamp: unset !important;
        }
    }

    .iam-topology-search-input-cls.bk-form-control {
        .bk-form-input {
            border: none !important;
            border-bottom: 1px solid #dcdee5 !important;
            background: transparent !important;
            &:focus {
                border-color: #dcdee5 !important;
                background-color: transparent !important;
            }
            &[disabled] {
                border-color: #dcdee5 !important;
                background-color: transparent !important;
            }
        }
    }

    .iam-topology-select-cls.bk-select {
        line-height: 40px !important;
        border-radius: 0 !important;
        background: #fff;
        border: none !important;
        border-bottom: 1px solid #dcdee5 !important;
        .bk-select-angle {
            top: 10px !important;
        }
        &.is-focus {
            border-color: #dcdee5 !important;
        }
        .bk-select-name {
            height: 40px !important;
        }
    }

    .iam-custom-dialog-title {
        text-align: center;
        word-break: break-all;
    }
}
