.iam-transfer-history-wrapper {
    .bk-log {
        height: calc(100% - 60px)
    }
    .transfer-history-table {
        margin-top: 16px;
        border-right: none;
        border-bottom: none;
        &.set-border {
            border-right: 1px solid #dfe0e5;
            border-bottom: 1px solid #dfe0e5;
        }
        .transferor-name {
            color: #3a84ff;
            cursor: pointer;
            &:hover {
                color: #699df4;
            }
        }
        .status-icon {
            display: inline-block;
            width: 8px;
            height: 8px;
            border: 1px solid;
            margin-right: 6px;
            border-radius: 50%;
            &.succeed {
                background-color: #e5f6ea;
                border-color: #3fc06d;
            }
            &.failed,
            &.partial-failed {
                background-color: #ffe6e6;
                border-color: #ea3636;
            }
            &.running {
                background-color: #f0f1f5;
                border-color: #c4c6cc;
            }
        }
    }
}
