.iam-transfer-manager-wrapper {
  margin-bottom: 20px;
  .transfer-manager-content {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #fff;
    box-shadow: 0px 1px 2px 0px rgba(49, 50, 56, 0.1);
    &:hover {
      box-shadow: 0px 2px 4px 0px rgba(49, 50, 56, 0.15);
    }
    .checkbox-cell-wrapper {
      .cell {
        padding: 0 !important;
      }
    }
    .header {
      display: flex;
      justify-content: flex-start;
      position: relative;
      padding: 0 30px;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      color: #63656e;
      cursor: pointer;
      .expanded-icon {
        position: absolute;
        top: 13px;
        left: 10px;
      }
      .title {
        font-weight: 500;
        cursor: pointer;
        color: #313238;
      }
      .sub-title {
        margin-left: 17px;
        .reason {
          font-size: 12px;
          color: #979ba5;
        }
      }
    }
    .content {
      position: relative;
      .expand-action {
        padding: 0 0 5px 0;
        margin-top: -10px;
        width: 100%;
        line-height: 16px;
        font-size: 12px;
        color: #979ba5;
        text-align: center;
        cursor: pointer;
        i {
          font-size: 16px;
        }
      }
      .slot-content {
        padding: 0 30px 20px 30px;
        min-height: 60px;
      }
    }
  }

  .empty-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      width: 160px;
    }
    .text {
      position: relative;
      top: -30px;
      font-size: 12px;
      color: #979ba5;
      text-align: center;
    }
  }
}
